@charset "utf-8";
/* CSS Document */

.nav-item{
    padding-left: 5px;
    padding-right: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}
/*-------------------------------------------------- */

.center {
	text-align: center;
}